---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import url(https://fonts.googleapis.com/css?family=Raleway:300|Oxygen:300|Inconsolata);
@charset "utf-8";


// Our variables
$base-font-family: "Oxygen", Helvetica, Arial, sans-serif;
$base-font-size:   17px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.6;

$header-font-family: "Raleway", serif;

$code-font-family: "Inconsolata", monospace;
$code-font-size: 15px;

$spacing-unit:     30px;

$text-color:       #222;
$background-color: #fdfdfd;
$brand-color:      #e24a2a;
$background:       url('/css/bg.png');

$content-padding:       10px;
$content-border-radius: 8px;
$content-background:    rgba(255,255,255,0.2);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$header-background: rgba(255,255,255,0.2);
$shadows:           0 0 7px rgba(0, 0, 0, 0.05);


// Width of the content area
$content-width:    900px;

$on-palm:          600px;
$on-laptop:        1000px;

$left-width:       250px;

$menu-border-radius: 3px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin media-query-not($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "base",
    "layout",
    "menu",
    "syntax-highlighting",
    "youtube",
    "gallery",
    "lightbox"
;
