<section>
	<div class="title">Links</div>
	<div class="body">
		<ul class="social">
			<li><a href="https://github.com/shrimpza"><img src="{{ "images/icons/links/github.png" | absURL }}" alt="GitHub">GitHub</a></li>
			<li><a href="https://goodreads.com/shrimpza"><img src="{{ "images/icons/links/goodreads.png" | absURL }}" alt="Goodreads">Goodreads</a></li>
			<li><a href="https://imgur.com/user/shrimpza"><img src="{{ "images/icons/links/imgur.png" | absURL }}" alt="Imgur">Imgur</a></li>
			<li><a href="https://www.last.fm/user/shrimpza/"><img src="{{ "images/icons/links/lastfm.png" | absURL }}" alt="Last.fm">Last.fm</a></li>
			<li><a href="https://za.linkedin.com/in/shrimpza"><img src="{{ "images/icons/links/linkedin.png" | absURL }}" alt="LinkedIn">LinkedIn</a></li>
			<li><a href="https://www.moddb.com/members/shrimp"><img src="{{ "images/icons/links/moddb.png" | absURL }}" alt="ModDB">ModDB</a></li>
			<li><a href="https://steamcommunity.com/id/shrimpza/"><img src="{{ "images/icons/links/steam.png" | absURL }}" alt="Steam">Steam</a></li>
			<li><a href="https://www.youtube.com/user/ShrimpZA/"><img src="{{ "images/icons/links/youtube.png" | absURL }}" alt="YouTube">YouTube</a></li>
		</ul>
	</div>
</section>