---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <div>
          {% if post.excerpt != "" %}
            {{ post.excerpt }}

            <div><a href="{{ post.url | prepend: site.baseurl }}">Continue reading...</a></div>
          {% else %}
            {{ post.content }}
          {% endif %}
        </div>

        <hr />

      </li>
    {% endfor %}
  </ul>

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">&larr; Older Posts</a>
    {% endif %}

    {% if paginator.next_page and paginator.previous_page %}
      |
    {% endif %}

    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Newer Posts &rarr;</a>
    {% endif %}
  </div>

</div>
