---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <div class="post-header post-title">
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <span class="post-meta">
            <div>{{ post.date | date: "%-d %b %Y" }} <img src="/css/icons/calendar.svg" class="icon" title="Date" /></div>
            {% if post.categories.size > 0 %}
            <div>
              {% for category in post.categories %}
                <a href="/{{ site.category_dir }}/{{ category | downcase }}">{{ category }}</a>{% if forloop.last == false %},{% endif %}
              {% endfor %}
              <img src="/css/icons/folder.svg" class="icon" title="Categories" />
            </div>
            {% endif %}
            {% if post.tags.size > 0 %}
              <div>{{ post.tags | join: ", " }} <img src="/css/icons/tags.svg" class="icon" title="Tags" /></div>
            {% endif %}
          </span>
        </div>

        <div class="post-content">
          {% if post.excerpt != "" %}
            {{ post.excerpt | smilify }}
            <p><a href="{{ post.url | prepend: site.baseurl }}">Continue reading...</a></p>
          {% else %}
            {{ post.content | smilify }}
          {% endif %}
        </div>

      </li>
    {% endfor %}
  </ul>

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">&larr; Older Posts</a>
    {% endif %}

    {% if paginator.next_page and paginator.previous_page %}
      |
    {% endif %}

    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Newer Posts &rarr;</a>
    {% endif %}
  </div>

</div>
