---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <div class="post-header post-title">
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <span class="post-meta">{{ post.date | date: " %-d %b %Y" }}</span>
        </div>

        <div class="post-content">
          {% if post.excerpt != "" %}
            {{ post.excerpt | smilify }}
            <p><a href="{{ post.url | prepend: site.baseurl }}">Continue reading...</a></p>
          {% else %}
            {{ post.content | smilify }}
          {% endif %}
        </div>

      </li>
    {% endfor %}
  </ul>

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">&larr; Older Posts</a>
    {% endif %}

    {% if paginator.next_page and paginator.previous_page %}
      |
    {% endif %}

    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Newer Posts &rarr;</a>
    {% endif %}
  </div>

</div>
