<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></li>
          <li>&copy; {{ 'now' | date: "%Y" }}</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <li>
            {% include social-link.html icon="github.png" link="https://github.com/shrimpza" name="GitHub" %}
          <li>
          <li>
            {% include social-link.html icon="linkedin.png" link="https://za.linkedin.com/in/shrimpza" name="LinkedIn" %}
          <li>
          <li>
            {% include social-link.html icon="codeeval.png" link="https://www.codeeval.com/profile/shrimp/" name="CodeEval" %}
          <li>
          <li>
            {% include social-link.html icon="google.png" link="https://plus.google.com/u/0/112134965281020561131" name="Google+" %}
          <li>
          <li>
            {% include social-link.html icon="reddit.png" link="https://reddit.com/u/shrimpza" name="Reddit" %}
          <li>
          <li>
            {% include social-link.html icon="goodreads.png" link="http://goodreads.com/shrimpza" name="Goodreads" %}
          <li>
        </ul>

        <ul class="social-media-list">
          <li>
            {% include social-link.html icon="youtube.png" link="https://www.youtube.com/user/ShrimpZA/" name="YouTube" %}
          <li>
          <li>
            {% include social-link.html icon="moddb.png" link="http://www.moddb.com/members/shrimp" name="ModDB" %}
          <li>
          <li>
            {% include social-link.html icon="steam.png" link="http://steamcommunity.com/id/shrimpza/" name="Steam" %}
          <li>
          <li>
            {% include social-link.html icon="raptr.png" link="http://raptr.com/shrimp" name="Raptr" %}
          <li>
          <li>
            {% include social-link.html icon="lastfm.png" link="http://www.last.fm/user/shrimpza/" name="Last.fm" %}
          <li>
          <li>
            {% include social-link.html icon="imgur.png" link="https://imgur.com/user/shrimpza" name="Imgur" %}
          <li>
        </ul>
      </div>
    </div>

  </div>

</footer>
