@import "vars";

body {
  max-width: $page-width;
  margin: 0 auto;
  color: $text-color;
  background-color: #111;
}

.page {
  padding: 0 $page-padding;

  grid-column-gap: $grid-padding;
  display: grid;
  grid-template-columns: $main-width $nav-width;
  grid-template-areas:
    'header header'
    'main nav'
    'footer footer';
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
  margin: 20px 0;
}

main {
  grid-area: main;
}

nav {
  grid-area: nav;
}

@media (max-width: $mid-width) {
  body {
    max-width: 100%;
  }

  .page {
    padding: 0;
    grid-template-columns: 70% 30%;
  }
}

@media (max-width: $mobile-width) {
  .page {
    grid-template-columns: 100%;
    grid-template-areas:
      'header'
      'main'
      'nav'
      'footer';
  }

  header {
    span.super {
      display: none;
    }
  }
}