nav ul, nav ol, nav li { /* reset */
    margin:0;
    padding:0;
}

nav .down-arrow {
    font-size: 0.5em;
    vertical-align: top;
    color: $grey-color-dark;
}

nav ul {
    list-style: none;
    font-weight: bold;
    margin-bottom: 1em;
    float: left; /* Clear floats */
    width: 100%;
    line-height: 1em;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul a {
    font-family: $header-font-family;
    display: block;
    padding: 10px;
    color: $text-color;
    text-decoration: none;
}

nav ul a:hover {
    color: $background-color;
    background: $brand-color;
    text-decoration: none;
}

nav ul a:visited {
    color: $text-color;
}

/*--- DROPDOWN ---*/
nav ul ul {
    background: $grey-color-dark;
    list-style: none;
    position: absolute;
    left: -9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
    float: none;
    width: inherit;
    font-weight: normal;

    box-shadow: $shadows;
}

nav ul ul li {
    padding-top: 1px; /* Introducing a padding between the li and the a give the illusion spaced items */
    float: none;
}

nav ul ul a {
    white-space: nowrap; /* Stop text wrapping and creating multi-line dropdown items */
    color: $background-color;
}

nav ul ul a:visited {
    color: $background-color;
}

nav ul li:hover ul { /* Display the dropdown on hover */
    left: 0; /* Bring back on-screen when needed */
}

nav ul li:hover a { /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
    text-decoration: none;
    background: $brand-color;
    color: $background-color;
}

nav ul li:hover ul a { /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
    text-decoration: none;
    background: $grey-color-dark;
}

nav ul li:hover ul li a:hover { /* Here we define the most explicit hover states--what happens when you hover each individual link. */
    background: $brand-color;
}
